@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the world of DevOps learning</h1>
    <h2 class="display-4">This is update from user ppmoutlook of Github </h2>
    <h2 class="display-4">This is update from Visual studio by user ppmoutlook </h2>
    <h5 class="display-4">This is update from Visual Studio local system </h5>
    <p>Learn about <a href="httpGithubs://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
