@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the world of DevOps learning</h1>
    <h2 class="display-4">This is update from user ppmoutlook of Github </h2>
    <h3 class="display-4">This is update from Visual studio by user ppmoutlook </h3>
    <h4 class="display-4">This is update from Visual studio by user ppmoutlook </h4>
    <h5 class="display-4">This is update from Github web portal by user ppmoutlook </h5>
    <h6 class="display-4">This is update from Visual Studio local system </h6>
    <h7 class="display-4">This is update from Github web portal by user ppmoutlook on 6Dec24 </h7>

  <p>Learn about <a href="httpGithubs://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
